<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
<main class="pt-20">
    <% if (errorMessage) { %>
        <div class="message message-error mt-20 ease-in-out"> <h3><%= errorMessage %></h3></div>
    <% } %>
      <form
            action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" class="product-form w-full"
            method="POST"
            enctype="multipart/form-data"
            >
       <div class="card parent-div-input flex items-center mt-20">
        <div class="card-body center w-96">
        <div class="form-control mb-6 w-full">
            <label for="title" class="text-gray-500 font-bold mb-4 md:mb-0 pr-4">Title</label>
            <input
                class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' : 'input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' %>"
                type="text"
                name="title"
                id="title"
                value="<% if (editing || hasError) { %><%= product.title %><% } %>"
                >
        </div>
        <div class="form-control mb-6 w-full">
            <label
            for="image"
            class="text-gray-500 font-bold mb-4 md:mb-0 pr-4">Image
            </label>
             <!-- class="<%= validationErrors.find(e => e.param === 'image') ? 'invalid inline-block input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' : 'inline-block input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' %>" -->
            <input
                type="file"
                name="image"
                id="image"
                class="inline-block input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                >
        </div>
        <!-- value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>" -->
        <div class="form-control mb-6 w-full">
            <label
                for="price"
                class="text-gray-500 font-bold mb-4 md:mb-0 pr-4">Price
                </label>
            <input
                type="text"
                name="price"
                id="price"
                class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' : 'input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' %>"
                step="0.01"
                value="<% if (editing || hasError) { %><%= product.price %><% } %>"
                >
        </div>
        <div class="form-control mb-6 w-full">
            <label
                for="description"
                class="text-gray-500 font-bold mb-4 md:mb-0 pr-4">Description
                </label>
            <textarea
                type="text"
                name="description"
                id="description"
                class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid inline-block input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' : 'inline-block input-shop bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500' %>"
                rows="5"
                placeholder="Description"
                >
                <% if (editing || hasError) { %><%= product.description %><% } %>
            </textarea>
        </div>

        <% if (editing) { %>
            <input type="hidden" name="productId" value="<%= product._id %>">
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" id="addBtn" class="shadow mt-10 bg-orange-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white hover:text-black font-bolder py-2 px-4 rounded">
            <% if (editing) { %>UPDATE PRODUCT<% } else { %>ADD TO CART<% } %></button>
        </div>
        </div>
      </form>
    </main>
<%- include('../includes/end.ejs') %>