<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
        <div class="m-16 pt-20">
            <div class="header flex flex-col content-center my-20">
                        <h1 class="text-right text-8xl font-bold">Admin Section</h1>
                        <p class="text-gray-500 text-2xl text-right">
                            Edit your products
                        </p>

                </div>
            <div class="grid lg:grid-cols-4 grid-rows-4 md:grid-cols-2 sm:grid-cols-1 gap-10">
                <% for (let product of prods) { %>
                <div id="parentCard" class="card bg-white shadow-2xl rounded-12 overflow-hidden hover:bg-gradient-to-r from-accent-500 via-pink-500 to-white-500 transition duration-300 ease-in-out hover:opacity-90 hover:scale-105">
                    <dwiv class="sm:col-span-1 px-2 py-2 m-2">
                        <figure class="sm:col-span-1 rounded-8 h-64 overflow-hidden">
                            <img
                                src="/<%= product.imageUrl %>"
                                alt="<%= product.title %>"
                                class="w-full h-48 sm:h-64 object-cover" />
                        </figure>
                            <div class="w-full px-2 py-2 content m-4">
                                <h2 class="card-title block text-primary text-2xl m-5" id="prod-title">
                                    <%= product.title %>
                                </h2>
                               <div class="inline-flex w-96 justify-center block">
                                    <span class="inline-block text-2xl text-error p-4 justify-normal">
                                        NZ$
                                    </span>
                                    <span class="justify-end pl-15">
                                        <h4 class="card-price text-5xl text-primary font-bold mt-2">
                                            <%= product.price %>
                                        </h4>
                                    </span>
                                </div>
                            </div>
                            <div class="card-description block text-primary h-20 my-4 mt-4 gap-2 item-center">
                                    <p class="text-center mt-4"><%= product.description %></p>
                            </div>
                            <div class="card-actions justify- w-96">
                                <span class="">
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-info text-white hover:bg-gray-800 hover:text-white font-bold">EDIT</a>
                                </span>
                                <span class="block">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                        <button type="button" class="btn btn-error text-accent hover:bg-error hover:text-white font-bold" onclick="deleteProduct(this)">DELETE</button>
                                </span>
                            </div>
                        </dwiv>
                    </div>
                <% } %>
                </div>
            </div>

            <% } else { %>
             <div class="pt-40">
                <h1 class="text-center display-1 text-8xl text-white pb-10">You got No Listing</h1>
                <h1 class="text-center display-1 text-8xl text-white mb-5">🛒</h1>
            </div>
            <div class="hero hero-content m-auto">
                <button class="bg-yellow-500 hover:bg-purple-500 text-black hover:text-white font-bold py-2 px-4 rounded mt-20">
                    <a href="/admin/add-product">ADD A LISTING</a>
                </button>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>