<header class="main-header">
        <nav class="main-header__nav fixed w-full top-0 z-10 mb-10">
            <div class="flex items-center justify-between flex-wrap bg-accent p-6">
                <div class="flex items-center flex-shrink-0 text-white mr-16">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/"><span class="font-semibold text-4xl tracking-tight">bee <i class="fa-solid fa-hippo">beez</i> </span></a>
                </div>
                <div class="block lg:hidden">
                    <button class="flex items-center px-3 py-2 border rounded text-gray-200 border-gray-400 hover:text-white hover:border-white">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Menu</title>
                        </svg>
                    </button>
                </div>
                <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                    <div class="text-lg lg:flex-grow ">
                        <a
                            class="<%= path === '/' ? 'active main-header__list block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-6' : 'main-header__list block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-6' %>"
                            href="/"
                            >
                            SHOP NOW
                        </a>
                         <a
                            class="<%= path === '/products' ? 'active main-header__list block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-6' : 'main-header__list block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-6' %>"
                            href="/products"
                            >
                            Technology
                        </a>

                        <% if (isAuthenticated) { %>
                        <a
                            class="<%= path === '/cart' ? 'active main-header__list block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-6' : 'main-header__list block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-6' %>"
                            href="/cart"
                            >
                            Cart
                        </a>
                        <a
                            class="<%= path === '/orders' ? 'active main-header__list block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-6' : 'main-header__list block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-6' %>"
                            href="/orders"
                            >
                            Orders
                        </a>
                         <a
                            class="<%= path === '/admin/add-product' ? 'active main-header__list block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-6' : 'main-header__list block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-6' %>"
                            href="/admin/add-product"
                            >
                            Add Product
                        </a>
                        <a
                            class="<%= path === '/admin/products' ? 'active main-header__list block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-6' : 'main-header__list block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-6' %>"
                            href="/admin/products"
                            >
                            Admin
                        </a>
                        <% } %>
                    </div>
                    <div>
                         <% if (isAuthenticated) { %>
                        <form action="/logout" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button
                                type="submit"
                                class="text-lg inline-block px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0"
                                >
                                LOGOUT
                            </button>
                        </form>
                        <% } else { %>
                            <a
                                href="/login"
                                class="text-lg inline-block px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 mr-1"
                                >
                                LOGIN
                            </a>
                             <a
                                href="/signup"
                                class="text-lg inline-block px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0"
                                >
                                SIGNUP
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>
</header>