 <div class="grid grid-cols-5 hero">
    <div class="btn-group col-span-5 flex pt-5 justify-center">
        <% if (currentPage != 1) { %>
                <button class="btn btn-outline"><a href="?page=<%= previousPage %>">Previous</a></button>
            <% } %>
                <button class="btn btn-outline" <% if (currentPage === 1) { %> disabled <% } %>><a href="?page=<%= currentPage %>"><%= currentPage %></a></button>
            <% if (hasNextPage) { %>
                <button class="btn btn-outline"><a href="?page=<%= nextPage %>"><% if (nextPage) { %> Next <% } %></a></button>
        <% } %>
        <% if (lastPage !== currentPage && nextPage !== lastPage )%>
                <button class="btn btn-outline" <% if (!hasNextPage) { %> disabled <% } %>><a href="?page=<%= lastPage %>"></a><% if (lastPage) { %> Last <% } %></a></button>
    </div>
</div>