<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container m-20">
            <div class="hero min-h-screen ">
                <div class="hero-content">
                    <div class="max-w-xl w-96 bg-gray-400 border-2xl rounded-2xl">
                        <ul class="p-10">
                            <% products.forEach(p => { %>
                                <div class="max-w-xl w-96 bg-gray-400 border-2xl rounded-2xl"></div>
                                <li>
                                    <span class="inline-block">
                                        <h2 class="text-2xl text-base-300 p-2 font-bold"><%= p.productId.title %></h2>
                                        <h3 class="text-lg text-base-300 p-2">Quantity: <span class="badge text-base-300 badge-accent font-bold "><%= p.quantity %></span></h3>
                                    </span>
                                    <span class="flex flex-col items-end p-2">
                                        <form action="/cart-delete-item" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" name="productId" value="<%= p.productId._id %>">
                                            <button class="btn btn-error text-base-300 hover:text-white" type="submit">DELETE</button>
                                        </form>
                                    </span>
                                </li>
                            <% }) %>
                        </ul>
                    <hr>
                        <div class="container p-10 text-center">
                            <h2 class="text-2xl text-black font-bold">Total: <%= totalCost %></h2>
                        </div>
                        <div class="container btn w-full text-center">
                            <button id="order-btn" class="btn">ORDER</button>
                            <script src="https://js.stripe.com/v3/"></script>
                            <script>
                                let stripe = Stripe('pk_test_51Mzzw0Ik0802P4mYjcAvHGA4W1oQ8hN4DWSWoLsPmFguC7RBJcS2YAlDIUkgK8a1AZZ80f8eUV9Us5Bh5FjsepYO00tMm8teHq');
                                let orderBtn = document.getElementById('order-btn');
                                orderBtn.addEventListener('click', function(){
                                    stripe.redirectToCheckout({
                                        sessionId: '<%= sessionId %>'
                                    })
                                });
                            </script>
                        </div>
                        <!-- <div class="flex flex-col items-center block py-5">
                            <form action="/create-order" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="text-black border bg-yellow-500 border-secondary-500 rounded-xl hover:bg-base-300 hover:text-white active:bg-primary-600 font-bold uppercase px-8 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Payment</button>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>