<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
        <div class="m-16 pt-20">
            <div class="header flex flex-col content-center my-20">
                        <h1 class="hero text-8xl font-bold text-white">Welcome</h1>
                        <p class="text-gray-500 text-2xl text-center">
                            <i class="fa-li fa fa-spinner fa-spin">
                            </i> A not so-great shopping store
                        </p>
                </div>
            <div class="grid lg:grid-cols-4 grid-rows-4 md:grid-cols-2 sm:grid-cols-1 gap-10">
                <% for (let product of prods) { %>
                <div class="card bg-white shadow-2xl rounded-12 overflow-hidden">
                    <div class="col-span-1 px-2 py-2 m-2">
                        <figure class="sm:col-span-1 rounded-8 h-64 overflow-hidden">
                            <img
                                src="<%= product.imageUrl %>"
                                alt="<%= product.title %>"
                                class="w-full sm:h-56 object-cover" />
                        </figure>
                            <div class="px-2 py-2 content m-4">
                                <h2 class="card-title block text-primary text-2xl m-5" id="prod-title">
                                    <%= product.title %>
                                </h2>
                               <div class="inline-flex w-96 justify-center block">
                                    <span class="inline-block text-2xl text-error p-4 justify-normal">
                                        NZ$
                                    </span>
                                    <span class="justify-end pl-15">
                                        <h4 class="card-price text-5xl text-primary font-bold mt-2">
                                            <%= product.price %>
                                        </h4>
                                    </span>
                                </div>
                            </div>
                            <div class="card-description block text-primary h-20 my-4 mt-4 gap-2 item-center">
                                    <p class="text-center mt-4"><%= product.description %></p>
                            </div>
                            <div class="card-actions justify- w-96">
                                <span class="">
                                    <a href="/products/<%= product._id %>" class="btn">Details</a>
                                </span>
                                <span class="block">
                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                </span>
                            </div>
                        </div>
                    </div>
                <% } %>
                </div>
            </div>
            <% } else { %>
        <div class="container mt-40">
             <div class="pt-40">
                <h1 class="text-center display-1 text-8xl text-white pb-10">No products</h1>
                <h1 class="text-center display-1 text-8xl text-white mb-5">🛒</h1>
                <p class="text-center text-4xl text-white"><i>we dont have anything</i></p>
            </div>
        </div>
        <% } %>


        <!-- </div>
        <div class="flex flex-col items-center justify-center min-h-screen py-2 bg-gray-100 sm:px-6 lg:px-8">
            <div class="flex flex-col items-center justify-center w-full space-y-8">
                <div class="flex flex-col items-center justify-center">
                    <div class="flex flex-col items-center justify-center w-full space-y-4">
                        <article class="card product-item">
                            <div class="card__image">
                                <img src="https://www.storkz.com/media/catalog/product/cache/1/image/500x500/9df78eab33525d08d6e5fb8d27136e95/s/2/s20889739.jpg" alt="a rubber ducky" class="src">
                            </div>
                            <div class="card__content text-center">
                                <h2 class="product__price text-8xl font-extrabold mt-8">$19.99</h2>
                                <p class="product__description text-4xl mt-10 mb-10">A very intersting book</p>
                            </div>
                            <div class="card__actions text-3xl text-center">
                                <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">Add to Cart</button>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div> -->
    </main>

<%- include('../includes/end.ejs') %>